---
layout: page 
---
   <section id="exercise" class="{% cycle '', 'bg-light-gray' %}">
                <article class="post-content text-left">
                        {{ page.text }} 
		</article>
                {% if page.type == 'MultipleChoice' %} 
                <ul>
                {% for options in page.options %}
                <li>{{ value }}</li>
                {% endfor %}
                </ul>
		{% elsif page.type == "ShortAnswer" %}
                {% endif %}
                </ul>
    </section>


