---
layout: page 
---
   <section id="node" class="{% cycle '', 'bg-light-gray' %}">
        <div class="container">
             <div class="row">
                <h2>Learning Objectives</h3>
                <ul>
                {% for objective in page.learning_objectives %}
                <li>{{ objective }}</li>
                {% endfor %}
                </ul>
                <article class="post-content text-left">
                        {{content}}
                </article>
                <h2>Assessments</h3>
                <ul>
                {% for assessment in page.assessments %}
                <li><a href="{{ page.url }}/../../exercises/{{ assessment }}">{{ assessment }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </section>


