---
layout: page 
---
   <section id="node" class="{% cycle '', 'bg-light-gray' %}">
        <div class="container">
             <div class="row">
             {% for node in site.nodes %}
             {% unless node.uuid contains 'template-node' or node.url contains '{{uuid}}'  %}  
             {% if node.assessments %}
             <h3><a href="{{ node.url }}">{{ node.title }}</a> <span class="uuid">[{{ node.uuid }}]</span></h3>
                <ul>
                    {% for assessment in node.assessments %}
                    <li><a href="{{ node.url }}/../../exercises/{{ assessment }}">{{ assessment }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endunless %}
             {% endfor %}
            </div>
        </div>
    </section>


