---
layout: page 
---
   <section id="node" class="{% cycle '', 'bg-light-gray' %}">
        <div class="container">
             <div class="row">
                <h2>Learning Objectives</h3>
                <ul>
                {% for objective in page.learning_objectives %}
                <li>{{ objective }}</li>
                {% endfor %}
                </ul>
                <h2>Learn this first:</h2>
                <ul>
                {% for prereq in page.prerequisites %}
                {% for node in site.nodes %}
                {% if node.uuid == prereq %}
                <li><a href="../../{{ node.uuid }}/index">{{ node.title }} [{{ node.uuid }}]</a></li>
                {% endif %}
                {% endfor %}
                {% endfor %}
                </ul>
                <h2>Learn this next:</h2>
                <ul>
                {% for node in site.nodes %}
                {% for prereq in node.prerequisites %}
                {% if prereq == page.uuid %}
                <li><a href="../../{{ node.uuid }}/index">{{ node.title }} [{{ node.uuid }}]</a></li>
                {% endif %}
                {% endfor %}
                {% endfor %}
                </ul>
                
                <article class="post-content text-left">
                        {{content}}
                </article>
                <h2>Assessments</h3>
                <ul>
                {% for assessment in page.assessments %}
                <li><a href="{{ page.url }}/../../exercises/{{ assessment }}">{{ assessment }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </section>


